### 0. Write codes to generate lists of numbers with the following pattern
Let `n ≥ 1` be the length of the list, generate the lists in the patterns mentioned below. You can use loops like `[... for i in ...]` or use list's `append` method as:
```
list_0 = []
for i in range(...):
    list_0.append(...)
```

In [ ]:
n = 12
# write your codes in cells below and print your list

In [ ]:
# 0. [8, 8, 8, 8, ...]

In [ ]:
# 1. [0, 1, 2, 3, ...]

In [ ]:
# 2. [5, 6, 7, 8, ...]

In [ ]:
# 3. [3.0, 3.1, 3.2, 3.3, ...]

In [ ]:
# 4. [-2, -4, -6, -8, ...]

In [ ]:
# 5. [-1.1+5.9j, -1.0+5.7j, -0.9+5.5j, -0.8+5.3j, ...]

In [ ]:
# 6. [1, 2, 4, 8, 16, 32, 64, ...]

In [ ]:
# 7. [0, 1, 0, 1, 0, 1, ...]

In [ ]:
# 8. [-1, 0, 1, -1, 0, 1, -1, 0, 1, -1, ...]

In [ ]:
# 9. [0, -1, 2, -3, 4, -5, 6, ...]

In [ ]:
# 10. [1, 1, 2, 3, 5, 8, 13, 21, ...]    (Fibonacci Sequence)

In [ ]:
# 11. [1, 1, 2, 6, 24, 120, 720, 5040, 40320, ...]    (Factorials)

### 1. Write codes to generate lists of lists of numbers with the following pattern
Let `n0 ≥ 1` be the number of rows (length of outer list) and `n1 ≥ 1` be number of columns (length of inner lists), generate the lists of lists in the patterns mentioned below. You can use loops like `[[... for i1 in ..n1..] for i0 in ..n0..]` or use list's `append` method as:
```
list_0 = []
for i0 in range(...n0...):
    list_0.append([])
    for i1 in range(...n1...)
        list_0[-1].append(...)
```
Print your results using this code:
```
for l in list_0:
    print(l)
```
As a challenge, try to generate each list in single line

In [ ]:
n0 = 7
n1 = 9
# write your codes in cells below and print your list

In [ ]:
# 0. [[0, 1, 2, 3, ...],
#     [1, 2, 3, 4, ...],
#     [2, 3, 4, 5, ...],
#     [3, 4, 5, 6, ...]... ]

In [ ]:
# 1. [[0, 1, 0, 1, 0, ...],
#     [1, 0, 1, 0, 1, ...],
#     [0, 1, 0, 1, 0, ...],
#     [1, 0, 1, 0, 1, ...]... ]

In [ ]:
# Don't use n1 for this one
# 2. [[0],
#     [1, 2],
#     [2, 3, 4],
#     [3, 4, 5, 6],
#     [4, 5, 6, 7, 8],...]

In [ ]:
# 3. [[0, 0, 0, 0, 0, ...],
#     [0, 1, 0, 0, 0, ...],
#     [0, 0, 4, 0, 0, ...],
#     [0, 0, 0, 9, 0, ...],
#     [0, 0, 0, 0, 16, ...]... ]    diagonal matrix

In [ ]:
# 4. [[2, 1, 0, 0, 0, ...],
#     [1, 2, 1, 0, 0, ...],
#     [0, 1, 2, 1, 0, ...],
#     [0, 0, 1, 2, 1, ...],
#     [0, 0, 0, 1, 2, ...]... ]    tridiagonal matrix

In [ ]:
# 5. [[3, 7, 7, 7, 7, ...],
#     [5, 3, 7, 7, 7, ...],
#     [5, 5, 3, 7, 7, ...],
#     [5, 5, 5, 3, 1, ...]... ]    matrix with separate lower-tirangular, diagonal and upper-triangular parts

In [ ]:
# 6. [[0, 1, 2, 3, 4],
#     [5, 6, 7, 8, 9],
#     [10, 11, 12, 13, 14]... ]    output when n1=5. filling numbers 0,1,2,3,... from left to right then top to bottom

In [ ]:
# 7. [[0, 3, 6, 9, 12],
#     [1, 4, 7, 10, 13],
#     [2, 5, 8, 11, 14]]    output when n0=3, n1=5. filling numbers 0,1,2,3,... from top to bottom then left to right

In [ ]:
# Don't use n1 for this one
# 8. [[0],
#     [1, 2],
#     [3, 4, 5],
#     [6, 7, 8, 9],...]

In [ ]:
# 9. [[0, 0, 0, 0, 0, ...],
#     [0, 1, 1, 1, 1, ...],
#     [0, 1, 2, 2, 2, ...],
#     [0, 1, 2, 3, 3, ...],
#     [0, 1, 2, 3, 4, ...]... ]
# Hint: use min() function

In [ ]:
# 10. [[0, 1, 2, 3, 4, ...],
#      [1, 1, 2, 3, 4, ...],
#      [2, 2, 2, 3, 4, ...],
#      [3, 3, 3, 3, 4, ...],
#      [4, 4, 4, 4, 4, ...]... ]
# Hint: use max() function

### 2. Apply following operations on given `list` and `tuple`
Define the following `list` and `tuple` and apply operations as mentioned in each cell
```
a = [7, 3, 6, 0, 1]
b = (2, -1, 3, 1, 0)
```
Tip: To simultaneously iterate over multiple arrays, Python's inbuilt function `zip` is helpful

In [ ]:
a = [7, 3, 6, 0, 1]
b = (2, -1, 3, 1, 0)

In [ ]:
#  0. Generate a dict that has elements from a as keys and elements from b as values
#     You should get {7: 2, 3: -1, 6: 3, 0: 1, 1: 0}

In [ ]:
# 1. Generate a list of complex numbers, whose real part is from a and imaginary part is from b
#    You should get [(7+2j), (3-1j), (6+3j), 1j, (1+0j)]

In [ ]:
# 2. Generate a list from elements of a using b as indices
#    You should get [6, 1, 0, 3, 7]

In [ ]:
# 3. Generate a list by joining a and b
#    You should get [7, 3, 6, 0, 1, 2, -1, 3, 1, 0]

In [ ]:
# 4. Generate a list by joining a and b but the resultant list should not have any element
#    repeating (remember "not in" and ".append"), you should get [7, 3, 6, 0, 1, 2, -1]

In [ ]:
# 5. Multiply elements from a and b in order and then sum them all (you can use Python's sum command)
#    You should get 29

In [ ]:
# 6. Generate a list of [i**j] where i and j are elements from a and b respectively
#    Include only those values that are >= 1 and < 100, you should get [49, 1]

In [ ]:
# 7. Generate a tuple of str, whose each element is obtained by concatenating elements from a and b
#    and leaving a space between them, you should get ('7 2', '3 -1', '6 3', '0 1', '1 0')

In [ ]:
# 8. If a=[1,2,4] and b=(5,7,3), generate a str that looks like this:
#    "1 -> 5, 2 -> 7, 4 -> 3" (be careful with spacing and comma)
#    You should get "7 -> 2, 3 -> -1, 6 -> 3, 0 -> 1, 1 -> 0" for a, b defined earlier

### 3. Make a `str` out of the given `list` with following instructions:
Given an input list, apply operations with following instructions:
1. Start with an empty string `s`
2. Loop over given list
3. If your first number is k>0, add k spaces to `s`
4. If your next number is k>0, add k `'#'` to `s`
5. If your next number is k>0, again add k spaces to `s`, and keep alternating between adding spaces and `'#'` until you encounter 0
6. If you encounter 0, add newline character `\n` to `s`, and next time you encounter another k>0, restart with adding spaces regardless of what you were adding before encountering 0

Let's say your input list is `[2, 3, 1, 0, 3, 3, 0, 6]`
1. Start with an empty string `s`
2. First number in list is 2, add 2 spaces to `s`
3. Next number in list is 3, add 3 `'#'` to `s`
4. Next number in list is 1, add 1 space to `s`
5. Next number in list is 0, add newline character `\n` to s
6. Next number in list is 3, add 3 spaces to s
7. Next number in list is 3, add 3 `'#'` to `s`
8. Next number in list is 0, add newline character `\n` to s
9. Next number in list is 6, add 6 spaces to s
10. Print `s`

Basically, 0 in list represents newline character `\n`, for positive integers, you need to alternate between space and `'#'`. Whenever 0 is encountered, you should start with adding spaces irrespective of where you were before 0. In this example, the final string should look like `"  ### \n   ###\n      "`

In [ ]:
msgList = [43, 0,
           1, 1, 3, 1, 1, 3, 1, 1, 3, 1, 5, 2, 3, 3, 1, 1, 3, 1, 1, 3, 2, 1, 1, 0,
           1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 5, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 4, 1, 1, 0,
           1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 5, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 0,
           1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 5, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 6, 0,
           2, 1, 1, 1, 2, 3, 1, 3, 1, 3, 3, 2, 3, 3, 1, 1, 3, 1, 1, 3, 2, 1, 1, 0,
           43]

# Write your code here

### 4. Digits of an Integer
Given a non-negative integer `n`, make a list of its digits. For exmaple, if `n = 12067`, the output list should be `[1, 2, 0, 6, 7]`

It can be solved using a mathematical method (requires modulo and float division) and a method based on `str`, I encourage you to try both

In [ ]:
n = 1178067

# write your code here

### 5. Find solution of `sin(x)=0` using Newton's Method
Given a function `f(x)`, its root can be found using Newton's Method as following:
1. Start with an initial guess value `x0`, then compute `x1 = x0 - f(x0) / f'(x0)` (note that derivative of `sin` is `cos`)
2. Let `x0 = x1` and then repeat step 1 in a `while` loop
3. In the loop, keep checking `|f(x1)|`, you can use command `math.fabs(math.sin(x1))` to find that
4. If `|f(x1)| < eps`, where `eps` is a small number like `1.0e-10`, exit the `while` loop
5. Print `x1`, `sin(x1)` and how many times `while` loop executed

 If you realize, you don't actually need to define `x1`, try to write the code without it. And I encourage you to try different initial guess values `x0`, you should find solutions `n * π` for different integers `n` (you can also print `x1 / math.pi` to check that)

In [ ]:
x0 = 4.0    # initial guess value
eps = 1.0e-12    # error tolerance

# write your code here